In [2]:
import numpy as np
from sklearn.tree import DecisionTreeClassifier
X = np.array([[1, 2], [3, 4], [5, 6]])
y = np.array([0, 1, 0])
clf = DecisionTreeClassifier()
clf.fit(X, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [3]:
importances = clf.feature_importances_

In [98]:
import pandas
data1 = pandas.read_csv('titanic.csv', index_col='PassengerId')

In [99]:
data2 = data[['Pclass','Fare','Age','Sex','Survived']]

In [100]:
data2.head()

             Pclass     Fare  Age     Sex  Survived
PassengerId
1                 3   7.2500   22    male         0
2                 1  71.2833   38  female         1
3                 3   7.9250   26  female         1
4                 1  53.1000   35  female         1
5                 3   8.0500   35    male         0

In [101]:
import numpy as np
data3 = data2[(np.isnan(data2.Pclass) == False) & (np.isnan(data2.Fare) == False) 
              & (np.isnan(data2.Age) == False)]

data2.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [102]:
#data3.head()
d = {'male': 1, 'female': 0}
data3['Sex'] = data3['Sex'].map(d)
data3['Sex'][3]
data3.head()

/Users/admin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

             Pclass     Fare  Age  Sex  Survived
PassengerId
1                 3   7.2500   22    1         0
2                 1  71.2833   38    0         1
3                 3   7.9250   26    0         1
4                 1  53.1000   35    0         1
5                 3   8.0500   35    1         0

In [103]:
data4 = data3[['Pclass','Fare','Age','Sex']]
import numpy as np
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(random_state=241)
clf.fit(data4,data3.Survived)
len(data3.Survived)

714

In [104]:
importances = clf.feature_importances_

In [105]:
importances

array([ 0.14000522,  0.30343647,  0.2560461 ,  0.30051221])

In [106]:
data4.head()

             Pclass     Fare  Age  Sex
PassengerId
1                 3   7.2500   22    1
2                 1  71.2833   38    0
3                 3   7.9250   26    0
4                 1  53.1000   35    0
5                 3   8.0500   35    1